.container {
    display: grid;
    grid-template-columns: 1.4fr 4fr 1.2fr;
    grid-gap: 3rem;

    height: 100vh;

    &-nav {
        // background-color: var(--color-white-light);
        padding: 1rem .8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__content {
            margin-top: 3rem;

            display: flex;
            flex-direction: column;

            background-color: var(--color-white);
            box-shadow: 2px 2px 6px #8888883a;
            border-radius: 4px;
            padding: 1rem .8rem;
            border-left: 4px solid var(--color-green);


            &-heading {
                margin-bottom: 1.5rem;
            }

            &-actions {
                align-self: flex-end;
            }
        }

        &__mate {
            background-color: transparent;
            border-radius: 4px;
            padding: 1rem;
            // width: 90%;
            align-self: center;
            margin-top: 3rem;

            display: flex;
            flex-direction: column;

            align-items: center;

            &-img {

                img {
                    height: 14rem;
                    width: 14rem;
                }
                
            }

            &-txt {
                align-self: center;
                width: 70%;
            }
        }
    }

    &-content {
        background-color: var(--color-white);

        background-color: var(--color-white);
        padding: 1rem .8rem;
        padding-top: 4rem;




        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-left {
                display: flex;
                align-items: center;

                form {
                    display: flex;
                    align-items: center; 
                    background-color: var(--color-primary);

                    height: 4rem;
                    // width: 100rem;
                    flex: 0 1 30%;
                    padding: .3rem 1rem;
                    border-radius: 50px;

                    img {
                        cursor: pointer;
                    }

                    input {
                        border: none;
                        background-color: var(--color-primary);
                        width: 30rem;
                        font-family: var(--font-display);
                        margin-left: 1.5rem;
                        font-size: 1.5rem;
                        // flex-basis: 60%;
                        flex-shrink: 1;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            &-center {
                
                h2 {
                    color: var(--color-blue-dark);

                }
            }
        }

        &__body {
            margin-top: 4rem;
           
            

            &-channel {
                width: 100%;
                height: 20rem;
                border-radius: 4px;
                // background-image: linear-gradient(to right bottom, rgb(7, 7, 7), #3232322a);
                background-position: center;
                background-size: cover;
                position: relative;
               
                
                &:hover &-download {
                    opacity: 1;
                    bottom: 2rem;
                    
                }

               

                &-txt {
                    width: 80rem;
                    position: absolute;
                    top: 18%;
                    left: 4%;
                }

                &-download {
                    position: absolute;
                    right: 2rem;
                    bottom: -2rem;
                    opacity: 0;
                    transition: all .3s ease-out;
                }
            }

            &-top {
                margin-top: 4rem;
                overflow-y: scroll;
                height: 33rem;

                &-list {
                    margin-top: 2rem;
                    


                    &-card {
                        background-color: var(--color-white);
                        box-shadow: 2px 2px 6px #8888883a;
                        border-radius: 4px;
                        overflow: hidden;
                        position: relative;
                        transition: all .4s ease-out;


                        &:hover {
                            transform: scale(1.02);
                        }

                        

                        &-img {
                            height: 10rem;
                            img {
                                width: 100%;
                                height: 10rem;
                            }
                        }

                        &-text {
                            padding:0 .8rem;
                            height: 6rem;
                            text-transform: capitalize;
                            text-overflow: ellipsis;
                        }

                        &-download {
                            width: 100%;

                            a,
                            :link,
                            :visited {
                                text-decoration: none;

                                button {
                                    display: flex;
                                    width: 100%;
                                    padding: .8rem 1rem;
                                    background-color: var(--color-primary-main);
                                    border: none;
                                    color: var(--color-white);

                                    align-items: center;
                                    justify-content:center ;
                                    cursor: pointer;

                                    i {
                                        margin-right: 1rem;
                                    }

                                    p {
                                        color: var(--color-white);
                                        font-family: var(--font-display);
                                    }

                                }
                            }
                        }
                    }
                }

                &-other {
                    margin-top: 3rem;

                    &-list {
                        margin-top: 1.5rem;
                        padding-left: 1rem;
                        position: relative;

                        &-cnt {
                            background-color: var(--color-blue);
                            width: 98%;
                            padding: .8rem 1.5rem;
                            color: var(--color-white);
                            border-radius: 4px;
                            transition: all .2s ease-out;

                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            &:hover {
                                transform: scale(1.01);
                            }

                            &:not(:last-child) {
                                margin-bottom: 1rem;
                            }

                            &__img {
                                height: 3rem;
                                width: 3rem;
                                overflow: hidden;
                                border-radius: 50%;
                                border: 3px solid var(--color-white);
                                background-position: center;
                                background-size: cover;

                                img {
                                    height: 3rem;
                                    width: 3rem;
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    &-classic {
        background-color: var(--color-white);
        padding: 1rem .8rem;
        margin-top: 3rem;

        display: flex;
        flex-direction: column;

        justify-content: space-between;
        
        &__titleCard {
            align-self: flex-start;

            background-color: var(--color-primary);
            height: 10rem;
            width: 100%;
            box-shadow: -2px 2px 6px #8888883a;
            border-radius: 4px;
            overflow: hidden;

            display: flex;
            align-items: center;

            &-img {
                flex-basis: 0 1 40%;
                width: 40%;
                height: 10rem;
                background-color: var(--color-primary-main);
                background-image: url(/assets/cards_components_preview@2x_1614640260000.png);
                background-position: center;
                background-size: auto;
            }

            &-cnt {
                display: flex;
                flex-direction: column;
                align-self: center;
                justify-content: center;
                text-align: center;
            }
        }

        &__center {
            &-card {
                // background-color: var(--color-white);
                // box-shadow: -2px 2px 6px #9e97973a;
                border-radius: 4px;
                border-radius: 4px;
                overflow: hidden;

                height: 25rem;

                position: relative;


                &__img {
                    position: absolute;
                    height: 15rem;
                    background-image: linear-gradient(to right bottom, #1a1919, #44434331),url(/assets/placeholder.jpg);
                    background-position: center;
                    background-size: cover;
                    position: relative;
                }

                &__details {
                    margin-top: 3rem;
                    padding: .8rem;
                    text-align: center;
                }
            }
        }

        &__copyright {
            align-self: center;
            margin-bottom: 1.5rem;

            &-content {
                background-color: var(--color-white);
                box-shadow: -2px 2px 6px #8888883a;
                border-radius: 4px;
                padding: 1rem .8rem;
                border-right: 4px solid var(--color-green);

                span {
                    color: var(--color-blue);
                }
            }
        }
    }
}